@model SOPS.WebUI.Areas.Administration.ViewModels.Account.ChangePasswordViewModel

<div class="row">
    <h3 class="pre_2 col_2">Zmiana hasła</h3>
</div>

@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class="pre_2 col_10 last", id="changePasswordForm"})) {
    <div class="row">
        @Html.ValidationSummary()
        @Html.HiddenFor(m => m.UserId, new { id = (object)null })
    </div>
    <div class="row">
        <div class="col_2">
            @Html.LabelFor(m => m.CurrentPassword)
        </div>
        <div class="col_3">
            @Html.EditorFor(model => model.CurrentPassword)
        </div>
        <div class="col_4 last">
            @Html.ValidationMessageFor(model => model.CurrentPassword)
        </div>
    </div>
    <div class="row">
        <div class="col_2">
            @Html.LabelFor(model => model.NewPassword)
        </div>
        <div class="col_3">
            @Html.EditorFor(model => model.NewPassword)
        </div>
        <div class="col_4 last">
            @Html.ValidationMessageFor(model => model.NewPassword)
        </div>
    </div>
    <div class="row">
        <div class="col_2">
            @Html.LabelFor(model => model.PasswordConfirm)
        </div>
        <div class="col_3">
            @Html.EditorFor(model => model.PasswordConfirm)
        </div>
        <div class="col_4 last">
            @Html.ValidationMessageFor(model => model.PasswordConfirm)
        </div>
    </div>
    <div class="row">
        <div class="col_2">
            @Html.LabelFor(model => model.PasswordQuestion)
        </div>
        <div class="col_3">
            @Html.EditorFor(model => model.PasswordQuestion)
        </div>
        <div class="col_4 last">
            @Html.ValidationMessageFor(model => model.PasswordQuestion)
        </div>
    </div>
    <div class="row">
        <div class="col_2">
            @Html.LabelFor(model => model.PasswordAnswer)
        </div>
        <div class="col_3">
            @Html.EditorFor(model => model.PasswordAnswer)
        </div>
        <div class="col_4 last">
            @Html.ValidationMessageFor(model => model.PasswordAnswer)
        </div>
    </div>
    <div class="row">
        <div class="col_2">
            @Html.LabelFor(model => model.PasswordAnswerConfirm)
        </div>
        <div class="col_3">
            @Html.EditorFor(model => model.PasswordAnswerConfirm)
        </div>
        <div class="col_4 last">
            @Html.ValidationMessageFor(model => model.PasswordAnswerConfirm)
        </div>
    </div>
    <div class="row margin_bottom_35">
        <div class="col_3 pre_2 buttons">
            <input type="submit" value="Zapisz"/>
        </div>
    </div>
}