@model SOPS.WebUI.Areas.Administration.ViewModels.Account.ResetPasswordViewModel

@{
    ViewBag.Title = "Reset hasła";
}
<div class="row">
    <h2 class="pre_2 col_2">Reset hasła</h2>
</div>
<div class="row margin_bottom_30">
    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "pre_2 col_10 last" }))
    {
        @Html.HiddenFor(n => n.UserId)
        @Html.HiddenFor(n => n.UserName)
        @Html.HiddenFor(n => n.Email)
        @Html.HiddenFor(n => n.PasswordQuestion)
        
        <div class="row">
            @Html.ValidationSummary()
        </div>
        <div class="row">
            <div class="col_10">
                <p>
                    W celu wygenerowania nowego hasła, odpowiedz na poniższe pytanie a następnie naciśnij przycisk reset.<br/>
                    Nowe hasło zostanie wysłane na adres email użytkownika <strong>@Model.UserName</strong>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col_5">
                <h3>Wprowadź odpowiedź na poniższe pytanie</h3>
            </div>
        </div>
        <div class="row">
            <div class="col_2">
                <h4>Pytanie:</h4>
            </div>
            <div class="col_3">
                <h4>@Model.PasswordQuestion</h4>
            </div>
        </div>
        <div class="row">
            <div class="col_2">
                @Html.LabelFor(model => model.PasswordAnswer)
            </div>
            <div class="col_3">
                @Html.EditorFor(model => model.PasswordAnswer)
            </div>
        </div>
        <div class="row">
            <div class="col_2 pre_4">
                <input type="submit" value="Reset"/>
            </div>
        </div>
    }
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
