<h2>Menu</h2>
<ul>
    <li>@Html.ActionLink("Oferty praktyk", "Index", "Home")</li>
    <li>@Html.ActionLink("Firmy", "Index", "Company")</li>
    <li>@Html.ActionLink("Opiekunowie praktyk", "Index", "Managers")</li>
    <li>@Html.ActionLink("Pliki do pobrania", "Index", "Download")</li>
    <li>@Html.ActionLink("Administracja", "Login", "Account", new {area = "Administration"}, null)</li>
</ul>