@model SOPS.WebUI.Areas.Administration.ViewModels.Students.StudentViewModel

<h4 class="row">
    Dane osobowe
</h4>
<div class="row property">
    <div class="col_2 name">@Html.LabelFor(m => m.Name)</div>
    <div class="col_3 last value">@Html.DisplayFor(m => m.Name)</div>
</div>
<div class="row property">
    <div class="col_2 name">@Html.LabelFor(m => m.LastName)</div>
    <div class="col_3 last value">@Html.DisplayFor(m => m.LastName)</div>
</div>
<div class="row property">
    <div class="col_2 name">@Html.LabelFor(m => m.Department)</div>
    <div class="col_3 last value">@Html.DisplayFor(m => m.Department)</div>
</div>
<div class="row property">
    <div class="col_2 name">@Html.LabelFor(m => m.Course)</div>
    <div class="col_3 last value">@Html.DisplayFor(m => m.Course)</div>
</div>
<div class="row property">
    <div class="col_2 name">@Html.LabelFor(m => m.Album)</div>
    <div class="col_3 last value">@Html.DisplayFor(m => m.Album)</div>
</div>
<div class="row property">
    <div class="col_2 name">@Html.LabelFor(m => m.Email)</div>
    <div class="col_3 last value">@Html.DisplayFor(m => m.Email)</div>
</div>
<div class="row property">
    <div class="col_2 name">@Html.LabelFor(m => m.Phone)</div>
    <div class="col_3 last value">@Html.DisplayFor(m => m.Phone)</div>
</div>
<div class="row property">
    <div class="col_2 name">@Html.LabelFor(m => m.City)</div>
    <div class="col_3 last value">@Html.DisplayFor(m => m.City)</div>
</div>
<div class="row property">
    <div class="col_2 name">@Html.LabelFor(m => m.Street)</div>
    <div class="col_3 last value">@Html.DisplayFor(m => m.Street)</div>
</div>
<div class="row property">
    <div class="col_2 name">@Html.LabelFor(m => m.PostalCode)</div>
    <div class="col_3 last value">@Html.DisplayFor(m => m.PostalCode)</div>
</div>